*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Impact';
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    font-size: 20px;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover{
    background-color: pink;
    color:black;
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

#question{
    font-size: 25px;
}

button{
    font-size: 20px;
}

.lives p {
    display: inline-block;
    vertical-align: top;
}
