#rect1 {
  height: 150px;
  width: 100px;
  background: rgb(29, 164, 255);
  border-radius: 20px 20px 0px 20px;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 0.2);
  position: fixed;
  top: 450px;
  left: 400px;
  z-index: 2;
}
#rect2 {
  height: 225px;
  width: 100px;
  background: rgb(0, 146, 246);
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 0.2);
  border-radius: 20px 20px 0px 20px;
  position: fixed;
  top: 375px;
  left: 450px;
  z-index: 1;
}
#rect3 {
  height: 300px;
  width: 100px;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 0.2);
  background: rgb(0, 119, 200);
  border-radius: 20px 20px 20px 20px;
  position: fixed;
  top: 300px;
  left: 500px;
  z-index: 0;
}
