p {
    display: inline;
}

#one{
    font-size: 20px;
    color: blue;
    text-decoration: underline;
    font-family: 'Alconica';
}

#two{
    font-size: 40px;
    color: orangered;
    font-family: 'Futura';
}

#three{
    font-size: 30px;
    color: greenyellow;
    font-family: 'Allan';
}

#four{
    font-size: 60px;
    color: purple;
    font-family: 'Gill Sana';
}

#five{
    font-size: 80px;
    color: pink;
    font-family: 'Consolas';
}

#six{
    font-size: 10px;
    color: darkgoldenrod;
}

#seven{
    font-size: 70px;
    color: darkviolet;
    font-family: 'Copperplate';
}

#eight{
    font-size: 25px;
    color: lightcoral;
    font-family: 'Courier New';
}

#nine{
    font-size: 100px;
    color: aquamarine;
    font-family: 'impact';
}

#ten{
    font-size: 45px;
    color: burlywood;
    font-family: 'impact';
}

#eleven{
    font-size: 85px;
    color: black;
    font-family: 'Rockwell';
    text-decoration: underline;
}

#twelve{
    font-size: 20px;
    color: lightsteelblue;
    font-family: 'Arial';
}

#thirteen{
    font-size: 175px;
    color: white;
    font-family: 'Times New Roman';
}

#rectangle1{
    position: absolute;
    width: 90px;
    height: 200px;
    background: black;
    top: 200px;
    left: 600px;
    animation: rect1 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect1{
    0%{visibility: hidden;}
    50%{visibility: hidden;}
    51%{visibility: visible;}
    100%{visibility: visible;}
}

#rectangle2{
    position: absolute;
    width: 237px;
    height: 28px;
    background: green;
    top: 400px;
    left: 800px;
    animation: rect2 1s infinite;
    font-size: 30px;
    overflow-wrap: break-word;
}

@keyframes rect2{
    0%{visibility: hidden;}
    25%{visibility: hidden;}
    26%{visibility: visible;}
    75%{visibility: visible;}
    76%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle3{
    position: absolute;
    width: 39px;
    height: 323px;
    background: blue;
    top: 378px;
    left: 863px;
    animation: rect3 1s infinite;
    font-size: 50px;
    overflow-wrap: break-word;
}

@keyframes rect3{
    0%{visibility: hidden;}
    15%{visibility: hidden;}
    16%{visibility: visible;}
    65%{visibility: visible;}
    66%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle4{
    position: absolute;
    width: 327px;
    height: 193px;
    background: red;
    top: 582px;
    left: 162px;
    animation: rect4 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect4{
    0%{visibility: hidden;}
    5%{visibility: hidden;}
    6%{visibility: visible;}
    55%{visibility: visible;}
    56%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle5{
    position: absolute;
    width: 282px;
    height: 231px;
    background: purple;
    top: 27px;
    left: 672px;
    animation: rect5 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect5{
    0%{visibility: hidden;}
    35%{visibility: hidden;}
    36%{visibility: visible;}
    85%{visibility: visible;}
    86%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle6{
    position: absolute;
    width: 190px;
    height: 421px;
    background: pink;
    top: 333px;
    left: 333px;
    animation: rect6 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect6{
    0%{visibility: hidden;}
    45%{visibility: hidden;}
    46%{visibility: visible;}
    95%{visibility: visible;}
    96%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle7{
    position: absolute;
    width: 173px;
    height: 282px;
    background: yellow;
    top: 234px;
    left: 133px;
    animation: rect7 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect7{
    0%{visibility: hidden;}
    10%{visibility: hidden;}
    11%{visibility: visible;}
    60%{visibility: visible;}
    61%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle8{
    position: absolute;
    width: 371px;
    height: 373px;
    background: white;
    top: 132px;
    left: 1023px;
    animation: rect8 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect8{
    0%{visibility: hidden;}
    30%{visibility: hidden;}
    31%{visibility: visible;}
    80%{visibility: visible;}
    81%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle9{
    position: absolute;
    width: 423px;
    height: 77px;
    background: orange;
    top: 62px;
    left: 236px;
    animation: rect9 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect9{
    0%{visibility: hidden;}
    20%{visibility: hidden;}
    21%{visibility: visible;}
    70%{visibility: visible;}
    71%{visibility: hidden;}
    100%{visibility: hidden;}
}

#rectangle10{
    position: absolute;
    width: 262px;
    height: 473px;
    background: violet;
    top: 236px;
    left: 532px;
    animation: rect10 1s infinite;
    font-size: 100px;
    overflow-wrap: break-word;
}

@keyframes rect10{
    0%{visibility: hidden;}
    40%{visibility: hidden;}
    41%{visibility: visible;}
    90%{visibility: visible;}
    91%{visibility: hidden;}
    100%{visibility: hidden;}
}

body {
    animation: name 5s infinite;
}

@keyframes name {
    0% {background-color:black;}
    10% {background-color:black;}
    11% {background-color:black;}
    20% {background-color: black;}
    21% {background-color: white;}
    30% {background-color:white;}
    31% {background-color:black;}
    40% {background-color: black;}
    41% {background-color: white;}
    50% {background-color:white;}
    51% {background-color:white;}
    60% {background-color: black;}
    61% {background-color: purple;}
    70% {background-color:purple;}
    71% {background-color:black;}
    80% {background-color: black;}
    81% {background-color: white;}
    90% {background-color:white;}
    91% {background-color:white;}
    100% {background-color:white;}
}

h2{
    color: white;
    font-family: 'Impact';
    animation: hint 5s infinite;
}

@keyframes hint{
    0%{visibility: hidden;}
    50%{visibility: hidden;}
    51%{visibility: visible;}
    100%{visibility: visible;}
}